@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.absolutee {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.accord {
  box-shadow: 0 0 5px 0 #ccc;
}

/* In your CSS file (e.g., App.css) */
input[type="radio"].custom-eye-radio {
  /* 1. Remove default browser styling */
  appearance: none;
  -webkit-appearance: none;
  /* For older Safari */

  /* 2. Style the outer ring (the 'white part' in your request) */
  width: 19px;
  height: 19px;
  border: 5.5px solid #00a4a6;
  /* Your requested turquoise border color */
  border-radius: 50%;
  cursor: pointer;
  background-color: black;
  /* Ensure the background behind the dot is white */
}

/* 3. Style the inner dot when checked */
input[type="radio"].custom-eye-radio:checked {
  /* Use box-shadow to create the inner dot illusion */
  box-shadow: inset 0 0 0 5px #009688;
  /* Your requested inner color */
}

@media screen and (max-width: 450px) {
  .nav {
    width: 90%;
  }

  .domain-name {
    font-size: 30px;
  }

  .card-con {
    width: 90%;
  }

  .card {
    width: 90%;
  }

  .faq {
    width: 99%;
  }
}

@media screen and (max-width: 400px) {
  .domain-name {
    font-size: 150%;
  }

}
